# Move grades from Gradescope to NYU Classes

We will use the data package `pandas` for this.

In [ ]:
import pandas as pd
# view all columns:
pd.set_option('display.max_columns', None)
grades = pd.read_csv("grades.csv")  # your file name here!
grades.head(2)

Drop some unneeded cols -- we will keep "Max Points" for now.

In [ ]:
grades.drop("Email", axis=1,  inplace=True)
grades.drop("section_name", axis=1,  inplace=True)
grades.drop(grades.columns[grades.columns.str.contains('Submission Time')],
            axis=1, inplace=True)
grades.drop(grades.columns[grades.columns.str.contains('Lateness')],
            axis=1, inplace=True)
grades.drop(grades.columns[grades.columns.str.contains('Mock')],
            axis=1, inplace=True)
grades.head(2)

Save an intermediate version:

In [ ]:
grades.to_csv("grades2.csv")

In [ ]:
# I think this could be done with a reg exp, but...
# we do have to add points!
grades.rename(columns =
              {'Assignment 0 - Getting Started': 'Asg0 [5]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 1 - Karel the Robot': 'Asg1 [19]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 2 - Calculator and Text Analyzer': 'Asg2 [20]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 3 - Blackjack': 'Asg3 [16]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 4 - Guessing Game': 'Asg4 [19]'},
              inplace = True)
grades.rename(columns =
              {'Assignment 5 - Tic-tac-toe': 'Asg5 [45]'},
              inplace = True)
grades.head(2)

In [ ]:
grades.drop(grades.columns[grades.columns.str.contains('Max Points')], axis=1, inplace=True)
grades.rename(columns = {'Midterm 1': 'Mid1'}, inplace = True)
grades.rename(columns = {'Midterm 2': 'Mid2'}, inplace = True)
grades.head(2)

Save intermediate version:

In [ ]:
grades.to_csv("grades3.csv")

Move SID to first col:

In [ ]:
cols = list(grades.columns)
cols = cols[2:3] + cols[0:2] + cols[3:]
print(cols)

In [ ]:
grades = grades[cols]
grades.head(2)

Combine first and last name into just name:

In [ ]:
pd.options.mode.chained_assignment = None
grades["Name"] = grades[['First Name', 'Last Name']].apply(lambda x: ' '.join(x),
                                                           axis=1)
grades.head(3)

Move name to 2nd column, as Classes demands, and git rid of first and last:

In [ ]:
cols = list(grades.columns)
cols = cols[0:1] + cols[-1:] + cols[3:-2]
print(cols)

grades = grades[cols]
grades.head(3)

Assign points for labs and midterms:

In [ ]:
grades.rename(columns =
              {'Lab 01': 'Lab1 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 02': 'Lab2 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 03': 'Lab3 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 04': 'Lab4 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 05': 'Lab5 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 06': 'Lab6 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 07': 'Lab7 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 08': 'Lab8 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 09': 'Lab9 [10]'},
              inplace = True)
grades.rename(columns =
              {'Lab 10': 'Lab10 [10]'},
              inplace = True)
grades.head()

In [ ]:
grades.rename(columns =
              {'Mid1': 'Mid1 [100]'},
              inplace = True)
grades.rename(columns =
              {'Mid2': 'Mid2 [100]'},
              inplace = True)
grades.head()

Save intermediate version:

In [ ]:
grades.to_csv("grades4.csv")

Oops, just realized mid2 isn't fully graded! Better drop it:

In [ ]:
grades.drop('Mid2 [100]', axis=1,  inplace=True)
grades.head()

For import to Classes, we don't need 'Total': Classes will total for us!
But if you want to calc it, do this:

In [ ]:
# cols = list(grades.columns)
# del cols[0]
# del cols[1]
# grades['Total'] = grades[cols].sum(axis=1)
# grades["Total"].describe(percentiles=[0, 0.2, 0.4, 0.6, 0.8, 1.0])

We want to see all the rows we ask for, not just '...':

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
grades.head(40)

Replace all of those `Nan`s:

In [ ]:
grades.fillna(0, inplace=True)
grades.head(40)

Classes says the first two cols should be 'Student ID' and 'Student Name'... not sure if the exact col name matters, but what the hey...

In [ ]:
grades.rename(columns =
              {'SID': 'Student ID'},
              inplace = True)
grades.rename(columns =
              {'Name': 'Student Name'},
              inplace = True)
grades.head()

And now we have a file we can import to NYU Classes... we set `index=False` to eliminate the first column of row numbers, which will make the import to Classes fail:

In [ ]:
grades.to_csv("grades4classes.csv", index=False)