## Lists

In Python, *lists* are the way to store a collection of items when you want to address the items by naming their position in the collection.  (What Python calls a list, other languages typically call and *array* or a *vector*.) Lists are a *sequence* type, like strings.

Like many languages, Python starts counting from zero, so the "first" item is item 0, the second item 1, etc.

Some notable features of lists:

 - Lists can contain a sequence of elements of any type (strings, ints, floats, other lists...)
 - Lists can even contain differently typed elements in the same list.
 - Lists are mutable - they can be modified after they are initially created.


Here's how to create lists in Python:

In [2]:
a_list = [1, 2, 'a', 'string', 3.14159]

weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

empty_list = []

list_of_lists = [
                  ['NYU', 'Columbia', 'CUNY'],  # 0
                  ['BC', 'BU', 'Tufts'],  # 1 
                  ['Penn', 'Drexel', 'Temple']  #2
                ]

In [3]:
empty_list

[]

In [4]:
a_list

[1, 2, 'a', 'string', 3.14159]

In [8]:
if not empty_list:
    print("The empty list is False.")

The empty list is False.

### Accessing lists

You can access the entire list, one sepecific element, or a range of elements.

`print()` can print the whole list for you:

In [9]:
print(a_list)

[1, 2, 'a', 'string', 3.14159]

(Note: in general, a random collection of different types is probably not a good idea, but it is good to know that you *can* do it if you need to.)

Access individual elements:

In [10]:
print(weekdays[0], weekdays[2])

Monday Wednesday

Accessing a range of elements returns a *new* `list` that is a *slice* of the original list:

In [51]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
midweek = weekdays[1:4]  # this makes a copy!
days2 = weekdays  # this is like a new key to the same box
print(midweek)

['Tuesday', 'Wednesday', 'Thursday']

In [52]:
weekdays[2] = "Odinsday"
weekdays.insert(3, "Thorsday")
print("Midweek:", midweek)
print("Weekdays:", weekdays)
print("days2:", days2)

Midweek: ['Tuesday', 'Wednesday', 'Thursday']
Weekdays: ['Monday', 'Tuesday', 'Odinsday', 'Thorsday', 'Thursday', 'Friday']
days2: ['Monday', 'Tuesday', 'Odinsday', 'Thorsday', 'Thursday', 'Friday']

Note that the *range* 1:4 returns *three* elements: this is a half-open range!

When we have a list of lists, each element in the top-level list is itself a list:

In [44]:
list_of_lists = [
                  ['NYU', 'Columbia', 'CUNY'],  # 0
                  ['BC', 'BU', 'Tufts'],  # 1 
                  ['Penn', 'Drexel', 'Temple']  #2
                ]
nyc_slice = list_of_lists[0:1]  # this makes a copy!
print("NYC slice:", nyc_slice)
nyc_not_a_copy = list_of_lists[0]  # this doesn't
print("NYC:", nyc)
nyc_not_a_copy[0] = "Tandon"
nyc_slice[0] = "St. John's"
print("NYC slice:", nyc_slice)
print("NYC not a copy:", nyc_not_a_copy)
print("list_of_lists:", list_of_lists)

NYC slice: [['NYU', 'Columbia', 'CUNY']]
NYC: ['Tandon']
NYC slice: ["St. John's"]
NYC not a copy: ['Tandon', 'Columbia', 'CUNY']
list_of_lists: [['Tandon', 'Columbia', 'CUNY'], ['BC', 'BU', 'Tufts'], ['Penn', 'Drexel', 'Temple']]

In [45]:
philly = list_of_lists[2:]
philadelphia = list_of_lists[2]
print("philly:", philly)
print("philadelphia:", philadelphia)
# print(philly[1])

philly: [['Penn', 'Drexel', 'Temple']]
philadelphia: ['Penn', 'Drexel', 'Temple']

In [39]:
print("Philly is Philadelphia?", philly is philadelphia)
print(id(philly), id(philadelphia))

Philly is Philadelphia? False
4700052744 4447563976

We can see all of the data and method attributes of a list with `dir()`:

In [ ]:
dir(empty_list)

### List Modification

Unlike strings, lists are *mutable*.

In [54]:
list_a = ['Number 1', 'Uhura']
print("List as initialized:", list_a)

List as initialized: ['Number 1', 'Uhura']

In [55]:
list_a[1] = 'Data'
print("Replace 2nd item in list:", list_a)

Replace 2nd item in list: ['Number 1', 'Data']

#### Growing a list

Note: we can't grow a list by saying `list[1000000] = "new value"`.

In [56]:
list_a.append(['Geordie', 'Crusher'])

list_a[2] = ['Geordie', 'Crusher']  # fails, can't append like this.

IndexError: list assignment index out of range

In [61]:
list_a.append(['Geordie', 'Crusher'])
list_a.append('Scotty')
list_a.append('Geordie')
list_a.append('Crusher')

print("Add a list to the end:", list_a)

Add a list to the end: ['Number 1', 'Data', 'Scotty', 'Crusher', ['Geordie', 'Crusher'], 'Scotty', 'Geordie', 'Crusher']

#### Removing items from a list

In [63]:
list_a.remove(['Geordie', 'Crusher'])
list_a.remove('Geordie')
print("After remove, the list is:", list_a)

ValueError: list.remove(x): x not in list

In [60]:
list_a.remove('Uhura') # Error, item not in list

ValueError: list.remove(x): x not in list

#### Inserting using slicing

In [64]:
list_a[:2] = 'Something else'
print(list_a)

['S', 'o', 'm', 'e', 't', 'h', 'i', 'n', 'g', ' ', 'e', 'l', 's', 'e', 'Scotty', 'Crusher', 'Scotty', 'Crusher']

In [65]:
list_a[:14] = ['Something', 'else']
print(list_a)

['Something', 'else', 'Scotty', 'Crusher', 'Scotty', 'Crusher']

In [66]:
list_a[:6] = ['alpha', 'beta', 'gamma']
print("Replace:", list_a)

Replace: ['alpha', 'beta', 'gamma']

#### Some list functions and methods

In [67]:
list_a = ['Hamlet', 'Ophelia', 'Laertes', 'Polonius']

In [68]:
print("Length of list_a is", len(list_a))

Length of list_a is 4

In [69]:
list_a.reverse()
print("Reversed:", list_a)

Reversed: ['Polonius', 'Laertes', 'Ophelia', 'Hamlet']

In [70]:
element = list_a.pop()   # removes element at the end of the list
print("Popped element:", element)
print("length:", len(list_a))
print("The list:", list_a)

Popped element: Hamlet
length: 3
The list: ['Polonius', 'Laertes', 'Ophelia']

In [72]:
print("Index of 'Ophelia':", list_a.index('Ophelia'))

ValueError: 'Hamlet' is not in list

In [73]:
print("Count of 0s:", [1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 10].count(0))

Count of 0s: 4

In [74]:
new_list = [1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 10] # 11 values
new_list.insert(1, 'a')
print("insert 'a' at 1", new_list)
new_list.insert(15, 'x')
print("insert 'x' at 15", new_list)
new_list.insert(-1, '2nd to last')
print("insert '2nd to last' at -1", new_list)

insert 'a' at 1 [1, 'a', 0, 1, 0, 1, 1, 1, 1, 0, 0, 10]
insert 'x' at 15 [1, 'a', 0, 1, 0, 1, 1, 1, 1, 0, 0, 10, 'x']
insert '2nd to last' at -1 [1, 'a', 0, 1, 0, 1, 1, 1, 1, 0, 0, 10, '2nd to last', 'x']

(We don't need to insert at the end, because we have `append()` for that.)

#### List Operators

In [76]:
list_a = ['MacBeth', 'Duncan']
list_b = ['Macduff', 'Malcolm']

You can use both the addition and multiplication operators with lists.

In [77]:
list_c = list_a + list_b
list_d = list_b * 3
print('list addition:', list_c)
print('list multiplication:', list_d)

list addition: ['MacBeth', 'Duncan', 'Macduff', 'Malcolm']
list multiplication: ['Macduff', 'Malcolm', 'Macduff', 'Malcolm', 'Macduff', 'Malcolm']

You can use >, <, ==, <=, >=, != operators on lists:

In [78]:
comparison_result = [1, 3, 5] > [1, 3, 3, 9, 12] # first diff at index 3: 5 !< 3
print('list comparison (>):', comparison_result)

print('list comparison (==):', [1] == [1, 2])
print('list comparison (<):', [1] < [1])
print('list comparison (>=):', ['Foo'] >= ['Bar'])

list comparison (>): True
list comparison (==): False
list comparison (<): False
list comparison (>=): True

What will this code evaluate to?

In [ ]:
[5, 2, 8, 9, 12, 456, 5687] > [5, 2, 8, 10]

a) True  
b) False  
c) 12  
d) [5, 2, 8, 9, 12, 456, 5687]

In [ ]:
len([5, 2, 8, 9, 12, 456, 5687]) > len([5, 2, 8, 10])

### `in`

You can test for list membership using the boolean operand `in`.

In [79]:
print('1. membership of a in word list:', 'a' in ['alpha'])
print('2. membership of a in letter list:', 'a' in ['b', 'c', 'd', 'e', 'a'])

1. membership of a in word list: False
2. membership of a in letter list: True

For the following list:

In [ ]:
hellene = ['alpha', 'beta', 'gamma', ['1st aorist', '2nd aorist'], 12, [19, 20]]
'alpha' in hellene
'1st aorist' in hellene

a) 'alpha' is a member and so is '1st aorist'  
b) 'alpha' is a member but '1st aorist' is not  
c) 'alpha' is not a member but '1st aorist' is.  
d) neither are list members

### Traversing a list

We can *traverse* a list with the `for` control structure:

In [80]:
int_list = [5, 3, 45, 7, 8, 1]
total = 0
for num in int_list:
    print("Just retrieved", num, "from list")
    total += num
print("The sum of the list elements is:", total)

Just retrieved 5 from list
Just retrieved 3 from list
Just retrieved 45 from list
Just retrieved 7 from list
Just retrieved 8 from list
Just retrieved 1 from list
The sum of the list elements is: 69

**Exercise:** Write code using a for loop to assemble these words into a single string:

In [ ]:
ulysses_opening = ["Stately", "plump", "Buck", "Mulligan"]

In [ ]:
quote = ""
for word in ulysses_opening:
    quote += word + " "
print(quote)