# Objects

Python calls every "thing" in the system *an object*. Python objects have:
1. an *id*
1. some *attributes*
1. zero or more names

#### ID
The *id* is unique to each object. We can find it with the `id` function:

In [10]:
y = 9
id(y)

10969056

Built-in Python functions also have IDs!

In [11]:
id(print)

139697731247920

#### Attributes
A Python object has a number of attributes, but right now the key one is its *type*. Python supports different types of data, such as integers (`int`s), real numbers (`float`s), and text (`string`s).
We can find the type of a variable using the built-in function `type`:

In [12]:
n = 4
x = 3.14
s = "Hello"
print("The type of n is ", type(n))
print("The type of x is ", type(x))
print("The type of s is ", type(s))

The type of n is  <class 'int'>
The type of x is  <class 'float'>
The type of s is  <class 'str'>

### Numeric Types

#### Integer

This type holds... integers! -7, 0, 14, 3034, and so on. And Python can manage *really* big integers! Let's try it out:

In [3]:
n = 2 ** 512
n

13407807929942597099574024998205846127479365820592393377723561443721764030073546976801874298166903427690031858186486050853753882811946569946433649006084096

#### Float

This type holds real numbers, ones in which the decimal place can "float" to yield different numbers of digits on either side of the decimal point. So...

In [8]:
tiny = 2.1 ** -12
big = 2.1 ** 32
print("Tiny = ", tiny)
print("Big = ", big)

Tiny =  0.00013594663529725568
Big =  20465267775.00672

#### Fraction

Holds exact fractions, not decimal approximations. We need the `fractions` module to use this type.

### Other Built-In Types

#### Boolean

The "smallest" type, with only two possible values, `True` and `False`.

In [12]:
(7 == 7)

True

In [11]:
(7 == 9)

False

In [16]:
type(True)

bool

#### String

This type holds text. We can add strings, test them for equality, and more.

In [13]:
first = "Eugene"
last = "Callahan"
first + last

'EugeneCallahan'

In [14]:
first == last

False

The following types will be introduced later in this course:

#### List

*Lists* hold sequences of values. They can be *indexed* to get at a particular value through its place in the list. (Python, like many computer languages, starts counting at 0!) The members are set inside *square brackets* `[]` and separated by commas:

In [15]:
my_favorite_things = ["Cream-colored ponies", "crisp apple strudels", "doorbells", "sleigh bells", "schnitzel with noodles"]
my_favorite_things[4]

'schnitzel with noodles'

In [17]:
type(my_favorite_things)

list

#### Dictionary

*Dictionaries* also hold multiple values, but not in a sequence, but accessed with a *key*. They are also called *key-value pairs*. The name comes from the fact that they work like "regular" dictionaries, where you look up a word (the *key*) and get a definition (the *value*). Let's try out a dictionary -- notice the members are set inside *curly braces* and the key and value are separated by a colon:

In [19]:
teams = {"Brooklyn": "Nets", "New York": "Knicks", "Boston": "Celtics", "Atlanta": "Hawks", "Memphis": "Grizzlies"}
print("The team that is in Boston is the", teams["Boston"])

The team that is in Boston is the Celtics

#### Tuple

Tuples are like lists, except they are *immutable*: once created, they cannot be changed.

In [1]:
coords = (5, 7)
print(coords)

(5, 7)

#### Set

This type requires the module `sets`.

We may cover sets later in this course.