## Tuples

*Tuples* are sequences like lists, except immutable.

In [10]:
my_tuple = (5, 10)
# can't do the following!
# my_tuple[0] = 7
print(my_tuple[0])

also_a_tuple = (4, 8, 12)
print(also_a_tuple[1])

TypeError: 'tuple' object does not support item assignment

Why would we want such a type? Well, for instance, we might be assigning something like GPS coordinates to cities: since we don't expect the cities to be roaming around, we don't want the coordinates changed: tuples do the job! (Note: this is an actual use for mixing types in a sequence.)

In [5]:
NYC_COORDS = (40.7128, "N", 74.0060, "W")
MILFORD_COORDS = (41.3223, "N", 74.8024, "W")

Or consider or earlier example of a list containing the names of the days of the week. Do we really think these might need to be changed *in the middle of a run of our program*? (Of course, in the future, we might rename some day, but it will be a *major* change announced way in advance.) So we might better write:

In [14]:
WEEKDAYS = ("Monday", "Tuesday", "Wednesday",
            "Thursday", "Friday")

Parentheses without a comma inside are regarded as grouping, like `6 * (3 + 4)`, not as a tuple:

In [8]:
is_a_tuple = (1, 0)
print(type(is_a_tuple))

not_a_tuple = ("Hello")
print(type(not_a_tuple))

might_be_a_tuple = ("Hello",)
print(type(might_be_a_tuple))
print(len(might_be_a_tuple))

<class 'tuple'>
<class 'str'>
<class 'tuple'>
1

In [12]:
x, y = 'a', 3.14159
z = 'a', 3.14159
print(x)
print(y)
print(type(z))

z = x, y
print(z)
print(type(z))

a
3.14159
<class 'tuple'>
('a', 3.14159)
<class 'tuple'>

### Lists versus tuples

- operators `+` and `*` work with tuples
- slicing also works
- membership (`in`) and `for` iteration are the same as with lists.
- `len`, `min`, `max`, `>`, `<`, , `>=`, `<=`, `sum` work on tuples
- operations that change lists don't work on tuples (`extend`, `insert`, `remove`, `pop`, `reverse`, `sort`)

In [15]:
print("Tuesday" in WEEKDAYS)

True

In [16]:
for day in WEEKDAYS:
    print(day, "is a weekday.")

Monday is a weekday.
Tuesday is a weekday.
Wednesday is a weekday.
Thursday is a weekday.
Friday is a weekday.

In [17]:
new_tuple = NYC_COORDS + WEEKDAYS
new_tuple_alt_name = new_tuple
print(new_tuple)
print(new_tuple_alt_name)
print("ID of new_tuple:", id(new_tuple),
      "ID of new_tuple_alt_name:",
      id(new_tuple_alt_name))
print("Is new_tuple same object as new_tuple_alt_name?",
     new_tuple is new_tuple_alt_name)

(40.7128, 'N', 74.006, 'W', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
(40.7128, 'N', 74.006, 'W', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
ID of new_tuple: 139820166521984 ID of new_tuple_alt_name: 139820166521984
Is new_tuple same object as new_tuple_alt_name? True

In [19]:
new_tuple = WEEKDAYS * 4
print(new_tuple)
print("*" * 40)
print(new_tuple_alt_name)
print("ID of new_tuple:", id(new_tuple),
      "ID of new_tuple_alt_name:",
      id(new_tuple_alt_name))
print("Is new_tuple same object as new_tuple_alt_name?",
     new_tuple is new_tuple_alt_name)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
****************************************
(40.7128, 'N', 74.006, 'W', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')
ID of new_tuple: 139820113227496 ID of new_tuple_alt_name: 139820166521984
Is new_tuple same object as new_tuple_alt_name? False

In [20]:
new_tuple_alt_name = WEEKDAYS * 4
print("Is new_tuple_alt_name equal in value to new_tuple?",
     new_tuple_alt_name == new_tuple)
print("Is new_tuple same object as new_tuple_alt_name?",
     new_tuple is new_tuple_alt_name)

Is new_tuple_alt_name equal in value to new_tuple? True
Is new_tuple same object as new_tuple_alt_name? False

We can create tuples from lists:

In [24]:
a_list = [2, 4, 6, 8]
a_tuple = tuple(a_list)
print("tuple == list?", a_tuple == a_list)
a_list[0] = 0
print("tuple:", a_tuple)
print("list:", a_list)
print("tuple == list?", a_tuple == a_list)
# can't modify the tuple
# a_tuple[0] = 0

tuple == list? False
tuple: (2, 4, 6, 8)
list: [0, 4, 6, 8]
tuple == list? False

In [2]:
print(max(345, 56, 12, 678, 3, 0))

678

In [4]:
(345, 56, 12, 678, 3, 0).__len__()

6

In [5]:
(345, 56, 12, 678, 3, 0).reverse()

AttributeError: 'tuple' object has no attribute 'reverse'