# Values

Computer programs operate on *values* stored in the computer's *memory*. Ultimately, all of these values are "just 1s and 0s" ([*bits*](https://en.wikipedia.org/wiki/Bit))... but we choose to interpret the 1s and 0s as having different meanings. These different ways of interpreting stretches of bits are called *types*. One kind of interpretation, *a type*, is as an *integer*.

In [12]:
-32

-32

Another common interpretation of the 0s and 1s, another type, is as a number with a decimal place in it. In Python, these are called *floats*. (These values are called "floats" because the decimal point can "float" around in the numbers, unlike "fixed point" arithmetic.)

In [19]:
34534534523.1

34534534523.1

A third way to interpret a stretch of memory is as text, or the type that in the world of computers is often called a *string*.

In [21]:
"Hello CS1114!"

'Hello CS1114!'

It is the way *we* enter the data that tells Python how we want it interpreted. When we enter a number with no decimal point, Python stores it as an integer. If we use a decimal point, Python stores a float. And if we use quotation marks, Python stores a string. Two things of note about strings:

1. We can use single quotes or double. That is handy when we want to have a string wirth a quote in it:

In [22]:
"The program said, 'Hello world!'"

"The program said, 'Hello world!'"

In [24]:
"The program said "Hello world!""

SyntaxError: invalid syntax (<ipython-input-24-2320809a2777>, line 1)

2. If we put a number in quotes, it is a string, not an integer or a float:

In [25]:
"34"

'34'

In [26]:
34 + 34

68

In [27]:
"34" + "34"

'3434'

In [28]:
34 ** 2

1156

In [1]:
"34" ** 2

1156

There are three handy [*built-in functions* in Python](https://docs.python.org/3/library/functions.html) that we will learn right now, all related to the types of values:

1. `str(val)`: converts a value to a string.
2. `int(val)`: converts a value to an integer.
3. `float(val)`: converts a value to a float.

In [31]:
str(36.5)

'36.5'

In [33]:
int(33.33333)

33

In [35]:
float("3.333")

3.333

Note that not every value can be converted to every other; for instance, one can't interpret "Hello class!" as an integer or a float:

In [37]:
int("Hello class!")

ValueError: invalid literal for int() with base 10: 'Hello class!'